body {
    scroll-behavior: smooth;
    padding-top: 70px;
    font-family: Cambria, Georgia, serif;
}

.hero {
    background-color: #222;
    color: white;
    padding: 80px 0;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto 20px;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.skill-icon {
    font-size: 50px;
    color: #0d6efd;
    margin-bottom: 10px;
}

section {
    padding: 60px 0;
}